<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Vue-y Bookstore Baby</title>
    <link rel="stylesheet" href="custom.css">
</head>

<body>

    <div id="bookstore" class="">
        <div v-if="isLoading" class="loading">Loading...</div>
        <div class="container">
            <div class="flip-card" v-for="book in books">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img v-bind:src="book.cover" alt="">
                    </div>

                    <div class="flip-card-back">
                        <p>{{ book.title }}</p>
                        <p>{{ book.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>