.home {
    text-align: left;
    padding: 20px 0px 0px 20px
}

h1 {
    text-align: center;
}

h3 {
    font-style: italic;
    padding-left: 55px;
}

.content-container {
    max-width: 700px;
    margin: auto;
}

.note {
    font-style: italic;
    text-decoration: underline;
    padding-left: 55px;
}

table {
    margin-bottom: 10px;
}

.style {
    text-decoration: underline;
}

.left {
    text-align: left;
}

.date {
    width: 200px;
    text-align: center;
}

.teams {
    width: 130px;
}

.location {
    width: 150px;
}

.game-loc {
    padding: 30px 0px 30px 40px
}

.school {
    width: 300px;
}

.maps {
    display: flex;
    padding-left: 40px;
    padding-bottom: 20px;
}

iframe {
    height: 200px;
    width: 200px;
    padding-right: 20px;
}

.contact-info {
    padding-left: 40px;
}

.bold {
    font-weight: bold;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

footer {
    padding-top: 50px;
}

.footer {
    color: #1d84e4;
    font-size: 14px;
    text-align: right;
    margin-right: 40px;
    margin-bottom: 10px;
}
