body {
    font-family: 'Indie Flower', cursive;
}

img {
    width: 200px;
}

.brand {
    align-self: center;
    font-size: 50px;
}

.spacing {
    padding: 20px 0px;
}

.email {
    align-self: flex-end;
}

a {
    color: grey;
}

a:hover {
    color: black;
}

.nav-size {
    font-size: 24px;
}

img.float-right {
    float: right;
    margin: 10px;
}

.button {
    margin: 10px 0px;
}

.bottom-spacing {
    padding-bottom: 30px;
}

.spacing-glance-table {
    max-width: 500px;
}

.headings {
    font-size: 20px;
}

.filter-section {
    display: flex;
    justify-content: space-between;
}

.filter-header {
    text-decoration: underline;
}

.filter-name-spacing {
    margin-right: 10px;
}
