.wrapper {
    margin: 20px;
}

.header {
    background-image: url("../../images/design1_image1.jpeg");
    height: 376px;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-name {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 2;
}

.banner {
    background-color: black;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 2;
}

.logo {
    position: absolute;
    height: 120px;
    right: 100px;
    top: 355px;
}

.content-container {
    display: flex;
    font-size: 16px;
    margin-top: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.link-spacing {
    padding-bottom: 30px;
}

.events {
    margin-left: 70px;
}

.headings {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.headings-about {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.indentation {
    padding-left: 10px;
    padding-bottom: 10px;
}

.about-info {
    margin-left: 70px;
    max-width: 700px;
}

.else {
    text-decoration: none;
    font-weight: bold;
}
